{% extends "layout.html" %}

{% block body %}
        <form action="/add" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" aria-describedby="game_name">
          </div>
          <div class="mb-3">
            <label for="plat" class="form-label">Platform</label>
            <input type="text" class="form-control" id="plat" name="plat">
          </div>
          <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            <input type="text" class="form-control" id="year" name="year">
          </div>
          <div class="mb-3">
            <input type="file" class="form-control" name="file">
          </div>
          <button type="submit" class="btn btn-primary">Add Game</button>
        </form>
        <script src="/static/verify.js"></script>
{% endblock %}