{% extends "layout.html" %}
{% block content %}
  <div class="text-center">
    <h1 class="display-4">Welcome to Your Pokémon Card Collection</h1>
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png" alt="Pokemon 60" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt="Pokemon 59" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/9.png" alt="Pokemon 3" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="Pokemon 4" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/38.png" alt="Pokemon 5" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/59.png" alt="Pokemon 6" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/65.png" alt="Pokemon 7" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/94.png" alt="Pokemon 1" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/135.png" alt="Pokemon 2" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/143.png" alt="Pokemon 8" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/196.png" alt="Pokemon 16" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/197.png" alt="Pokemon 17" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/227.png" alt="Pokemon 18" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/248.png" alt="Pokemon 22" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/254.png" alt="Pokemon 26" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/257.png" alt="Pokemon 27" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/292.png" alt="Pokemon 28" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/373.png" alt="Pokemon 29" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/376.png" alt="Pokemon 30" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/395.png" alt="Pokemon 36" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/409.png" alt="Pokemon 37" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/448.png" alt="Pokemon 38" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/501.png" alt="Pokemon 43" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/658.png" alt="Pokemon 47" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/724.png" alt="Pokemon 51" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/727.png" alt="Pokemon 52" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/760.png" alt="Pokemon 53" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/778.png" alt="Pokemon 54" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/794.png" alt="Pokemon 57" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/144.png" alt="Pokemon 61" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/150.png" alt="Pokemon 9" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/243.png" alt="Pokemon 19" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/244.png" alt="Pokemon 20" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/245.png" alt="Pokemon 21" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/249.png" alt="Pokemon 23" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/250.png" alt="Pokemon 24" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/251.png" alt="Pokemon 25" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/382.png" alt="Pokemon 31" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/383.png" alt="Pokemon 32" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/384.png" alt="Pokemon 33" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/385.png" alt="Pokemon 34" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/386.png" alt="Pokemon 35" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/487.png" alt="Pokemon 39" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/491.png" alt="Pokemon 40" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/493.png" alt="Pokemon 41" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/494.png" alt="Pokemon 42" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/641.png" alt="Pokemon 44" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/642.png" alt="Pokemon 45" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/645.png" alt="Pokemon 46" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/716.png" alt="Pokemon 48" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/717.png" alt="Pokemon 49" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/718.png" alt="Pokemon 50" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/787.png" alt="Pokemon 55" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/792.png" alt="Pokemon 56" class="img-fluid" style="max-height: 150px;">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/802.png" alt="Pokemon 58" class="img-fluid" style="max-height: 150px;">
  </div>
{% endblock %}