{% extends "layout.html" %}

{% block content %}
    <div class="text-center">
        <h1 class="display-4">Welcome to Your Pokémon Card Collection</h1>
        <div id="pokemon-images">
            {% for i in range(1, 97) %}
                <img id="pokemon{{ i }}"
                     src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ i }}.png"
                     alt="Pokemon {{ i }}" class="img-fluid">
            {% endfor %}
        </div>
    </div>
{% endblock %}